#reload {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: url(../img/loadBkg.jpg) no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column; }
  #reload ul {
    width: 100%; }
    #reload ul li:nth-child(2) {
      display: block;
      width: 44.53%;
      margin: 0 auto;
      position: relative;
      height: 0.14rem;
      margin-top: 0.2rem;
      margin-left: 27.73%; }
      #reload ul li:nth-child(2) .upOut {
        overflow: hidden;
        height: 100%;
        width: 100%;
        border-radius: 0.2rem;
        position: relative;
        background-color: #b1301f; }
      #reload ul li:nth-child(2) .up {
        background-color: #d7b27d;
        height: 100%;
        width: 0%;
        border-radius: 0.2rem; }
      #reload ul li:nth-child(2) p {
        position: absolute;
        left: 105%;
        top: -0.09rem;
        font-size: 0.2rem;
        color: #ffecb4; }
    #reload ul li:nth-child(1) .logoBox {
      width: 35.87%;
      margin: 0 auto;
      position: relative; }
      #reload ul li:nth-child(1) .logoBox img {
        width: 100%; }

.load01 {
  width: 0.2rem;
  position: absolute;
  right: 0;
  bottom: 120%;
  animation: aniLoad01 1s linear infinite;
  -moz-animation: aniLoad01 1s linear infinite;
  -webkit-animation: aniLoad01 1s linear infinite;
  -ms-animation: aniLoad01 1s linear infinite; }

.loadAll {
  width: 0.25rem;
  position: absolute;
  right: 110%;
  top: -10%;
  opacity: 0;
  animation: aniLoad02 1s linear infinite;
  -moz-animation: aniLoad02 1s linear infinite;
  -webkit-animation: aniLoad02 1s linear infinite;
  -ms-animation: aniLoad02 1s linear infinite; }
  .loadAll > div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0%;
    height: 0%;
    overflow: hidden;
    background-color: #c95738;
    animation: aniLoad03 1s linear infinite;
    -moz-animation: aniLoad03 1s linear infinite;
    -webkit-animation: aniLoad03 1s linear infinite;
    -ms-animation: aniLoad03 1s linear infinite; }

.loadAll2 {
  right: -30%;
  top: -6%;
  width: 0.22rem;
  animation-delay: 0.57s;
  -moz-animation-delay: 0.57s;
  -webkit-animation-delay: 0.57s;
  -ms-animation-delay: 0.57s; }
  .loadAll2 > div {
    animation-delay: 0.57s;
    -moz-animation-delay: 0.57s;
    -webkit-animation-delay: 0.57s;
    -ms-animation-delay: 0.57s; }

.loadAll3 {
  top: 25%;
  right: 120%;
  animation-delay: 0.37s;
  -moz-animation-delay: 0.37s;
  -webkit-animation-delay: 0.37s;
  -ms-animation-delay: 0.37s; }
  .loadAll3 > div {
    animation-delay: 0.37s;
    -moz-animation-delay: 0.37s;
    -webkit-animation-delay: 0.37s;
    -ms-animation-delay: 0.37s; }

.loadAll4 {
  top: 22%;
  right: -18%;
  width: 0.22rem;
  animation-delay: 0.22s;
  -moz-animation-delay: 0.22s;
  -webkit-animation-delay: 0.22s;
  -ms-animation-delay: 0.22s; }
  .loadAll4 > div {
    animation-delay: 0.22s;
    -moz-animation-delay: 0.22s;
    -webkit-animation-delay: 0.22s;
    -ms-animation-delay: 0.22s; }

@keyframes aniLoad01 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@-moz-keyframes aniLoad01 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@-webkit-keyframes aniLoad01 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@-ms-keyframes aniLoad01 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@keyframes aniLoad02 {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-moz-keyframes aniLoad02 {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-webkit-keyframes aniLoad02 {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-ms-keyframes aniLoad02 {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes aniLoad03 {
  from {
    top: 50%;
    left: 50%;
    width: 0%;
    height: 0%; }
  to {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; } }
@-moz-keyframes aniLoad03 {
  from {
    top: 50%;
    left: 50%;
    width: 0%;
    height: 0%; }
  to {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; } }
@-webkit-keyframes aniLoad03 {
  from {
    top: 50%;
    left: 50%;
    width: 0%;
    height: 0%; }
  to {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; } }
@-ms-keyframes aniLoad03 {
  from {
    top: 50%;
    left: 50%;
    width: 0%;
    height: 0%; }
  to {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; } }
@font-face {
  font-family: "sscn";
  src: url("../fonts/sscn.otf"); }
#phoneCome {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: url(../img/phoneBkg.jpg) no-repeat;
  background-size: cover; }
  #phoneCome .head {
    width: 100%; }
    #phoneCome .head > div:nth-child(1) {
      width: 23.75%;
      margin: 0.5rem 6% 0.5rem 8%; }
    #phoneCome .head > div:nth-child(2) {
      width: 60%;
      color: white; }
      #phoneCome .head > div:nth-child(2) .name {
        font-size: 0.32rem;
        margin-top: 0.8rem; }
      #phoneCome .head > div:nth-child(2) .chat {
        font-size: 0.28rem;
        line-height: 0.55rem; }
    #phoneCome .head img {
      width: 100%; }
  #phoneCome .twoBox {
    width: 19.375%;
    position: absolute;
    bottom: 0;
    left: 18%; }
    #phoneCome .twoBox a {
      width: 100%;
      display: block;
      position: relative; }
      #phoneCome .twoBox a img {
        width: 100%; }
      #phoneCome .twoBox a .hand {
        width: 44%;
        position: absolute;
        top: 95%;
        left: 28%;
        display: none; }
      #phoneCome .twoBox a .handTween {
        animation: handtween 0.6s linear infinite;
        -moz-animation: handtween 0.6s linear infinite;
        -webkit-animation: handtween 0.6s linear infinite;
        -ms-animation: handtween 0.6s linear infinite; }
    #phoneCome .twoBox p {
      font-size: 0.26rem;
      color: white;
      text-align: center;
      line-height: 1.0rem; }
  #phoneCome .accept {
    left: auto;
    right: 18% !important; }

@keyframes handtween {
  from {
    opacity: 1;
    top: 95%; }
  to {
    opacity: 0;
    top: 50%; } }
@-moz-keyframes handtween {
  from {
    opacity: 1;
    top: 95%; }
  to {
    opacity: 0;
    top: 50%; } }
@-webkit-keyframes handtween {
  from {
    opacity: 1;
    top: 95%; }
  to {
    opacity: 0;
    top: 50%; } }
@-ms-keyframes handtween {
  from {
    opacity: 1;
    top: 95%; }
  to {
    opacity: 0;
    top: 50%; } }
#yearVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none; }
  #yearVideo video {
    width: 100%;
    height: 100%; }

body {
  background-color: #ebebeb; }

#group {
  width: 100%;
  height: 100%;
  position: relative; }
  #group .input {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0; }
    #group .input img {
      width: 100%; }
    #group .input form {
      display: none;
      position: absolute;
      top: 22.5%;
      left: 15.5%;
      width: 60%; }
      #group .input form input {
        background-color: transparent;
        width: 100%;
        display: block;
        border: 0px;
        outline: none;
        line-height: 0.5rem;
        font-size: 0.26rem; }
  #group .group {
    padding: 0.3rem 0 1.2rem;
    width: 95.2%;
    margin: 0 auto; }
    #group .group .myWord {
      width: 100%;
      margin-bottom: 0.4rem; }
      #group .group .myWord .mwHead {
        width: 0.7rem;
        height: 0.7rem;
        overflow: hidden; }
        #group .group .myWord .mwHead img {
          width: 100%; }
      #group .group .myWord .mwContent {
        width: 72%;
        margin-right: 3%; }
        #group .group .myWord .mwContent .mwImg {
          width: 50%; }
          #group .group .myWord .mwContent .mwImg img {
            width: 100%; }
        #group .group .myWord .mwContent .mwText {
          padding: 0.1rem 0.15rem;
          background-color: #a0e75a;
          font-size: 0.3rem;
          color: #1e1e1e;
          border: 1px solid #cecece;
          border-radius: 5px;
          position: relative;
          line-height: 0.46rem; }
        #group .group .myWord .mwContent .gs {
          position: absolute;
          right: -0.11rem;
          top: 0.205rem;
          height: 0.25rem; }
          #group .group .myWord .mwContent .gs img {
            height: 100%; }
    #group .group span {
      color: #fc1f01; }
    #group .group .otherWord {
      opacity: 0;
      width: 100%;
      margin-bottom: 0.4rem; }
      #group .group .otherWord .owHead {
        width: 0.7rem;
        height: 0.7rem;
        overflow: hidden; }
        #group .group .otherWord .owHead img {
          width: 100%; }
      #group .group .otherWord .owContent {
        width: 72%;
        margin-left: 3%; }
        #group .group .otherWord .owContent .owName {
          font-size: 0.24rem;
          color: #999999;
          line-height: 0.3rem;
          margin-bottom: 0.05rem; }
        #group .group .otherWord .owContent .owText {
          padding: 0.1rem 0.15rem;
          background-color: white;
          font-size: 0.3rem;
          line-height: 0.46rem;
          color: #1e1e1e;
          border: 1px solid #cecece;
          border-radius: 5px;
          position: relative; }
        #group .group .otherWord .owContent .videoOver p {
          background: url(../img/chat.jpg) no-repeat 0.05rem center;
          background-size: auto 0.2rem;
          text-indent: 0.55rem; }
        #group .group .otherWord .owContent .owImg {
          width: 50%;
          margin-top: 0.2rem; }
          #group .group .otherWord .owContent .owImg img {
            width: 100%; }
        #group .group .otherWord .owContent .ws {
          position: absolute;
          left: -0.12rem;
          top: 0.205rem;
          height: 0.25rem; }
          #group .group .otherWord .owContent .ws img {
            height: 100%; }

#music {
  position: fixed;
  top: 5px;
  right: 5px;
  width: 32px;
  height: 32px;
  z-index: 1000;
  display: none; }

#getRed {
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fce8b5; }
  #getRed .redTop {
    width: 100%;
    position: relative; }
    #getRed .redTop > img {
      width: 100%; }
    #getRed .redTop .money {
      position: absolute;
      top: 22.1%;
      text-align: center;
      left: 0%;
      width: 100%;
      font-size: 0.42rem;
      font-family: helvetica;
      font-weight: bold;
      color: #fff031; }
    #getRed .redTop .flower {
      position: absolute;
      bottom: auto;
      width: 0.3rem;
      top: 36.2%;
      right: auto;
      left: 20.27%;
      animation: aniLoad01 1s linear infinite;
      -moz-animation: aniLoad01 1s linear infinite;
      -webkit-animation: aniLoad01 1s linear infinite;
      -ms-animation: aniLoad01 1s linear infinite; }
      #getRed .redTop .flower > img {
        width: 100%; }
    #getRed .redTop .star {
      position: absolute;
      top: 14%;
      left: 76.27%;
      width: 0.3rem;
      animation: aniLoad04 1.5s linear infinite;
      -moz-animation: aniLoad04 1.5s linear infinite;
      -webkit-animation: aniLoad04 1.5s linear infinite;
      -ms-animation: aniLoad04 1.5s linear infinite; }
      #getRed .redTop .star > img {
        width: 100%; }
    #getRed .redTop .share {
      width: 79.8%;
      position: absolute;
      left: 10.1%;
      bottom: 5%;
      display: block; }
    #getRed .redTop .danmu {
      position: absolute;
      left: 0;
      top: 38%;
      height: 30%;
      width: 100%; }
      #getRed .redTop .danmu > div {
        height: 33.3333%;
        position: relative; }
    #getRed .redTop .danBox {
      margin-right: 10px; }
      #getRed .redTop .danBox .floatl:nth-child(1) {
        width: 0.6rem;
        height: 0.6rem;
        overflow: hidden;
        border-radius: 50%; }
        #getRed .redTop .danBox .floatl:nth-child(1) > img {
          width: 100%; }
      #getRed .redTop .danBox .floatl:nth-child(2) {
        font-size: 0.28rem;
        color: white;
        line-height: 0.6rem;
        text-indent: 0.1rem; }

.friend {
  position: relative; }
  .friend .left {
    position: absolute;
    bottom: 0.8rem;
    left: 0;
    width: 0.5rem; }
    .friend .left img {
      width: 100%; }
  .friend .right {
    position: absolute;
    top: 1.0rem;
    right: 0;
    width: 0.5rem; }
    .friend .right img {
      width: 100%; }
  .friend .title {
    width: 100%; }
    .friend .title img {
      width: 100%; }
  .friend .fContent {
    width: 93.33%;
    height: 5.1rem;
    overflow-y: scroll;
    margin: 0 auto;
    background-color: #fffbe7; }
    .friend .fContent .fChild:nth-last-child(1) {
      background: none; }
    .friend .fContent .fChild {
      width: 93.33%;
      padding: 0.4rem 0;
      margin: 0 auto;
      background: url(../img/line.png) no-repeat left bottom;
      background-size: 100% auto; }
      .friend .fContent .fChild .fLeft {
        width: 16%; }
        .friend .fContent .fChild .fLeft .fHead {
          width: 0.8rem;
          height: 0.8rem;
          overflow: hidden;
          border-radius: 50%; }
          .friend .fContent .fChild .fLeft .fHead img {
            width: 100%; }
      .friend .fContent .fChild .fMiddle {
        width: 62%; }
        .friend .fContent .fChild .fMiddle ul li:nth-child(1) p {
          margin-top: 0.025rem;
          font-size: 0.28rem;
          line-height: 0.4rem;
          color: #333333; }
          .friend .fContent .fChild .fMiddle ul li:nth-child(1) p span {
            font-size: 0.2rem;
            color: #999999; }
        .friend .fContent .fChild .fMiddle ul li:nth-child(2) p {
          font-size: 0.24rem;
          line-height: 0.4rem;
          color: #666666; }
      .friend .fContent .fChild .fRight {
        width: 22%;
        font-size: 0.32rem;
        line-height: 0.9rem;
        color: #f17854;
        text-align: right; }
  .friend .bottom {
    width: 100%; }
    .friend .bottom img {
      width: 100%; }

.picBox {
  padding: 0.4rem 0;
  width: 100%;
  position: relative; }
  .picBox .picImg {
    width: 79.2%;
    position: absolute;
    left: 10.4%;
    top: 43.5%; }
    .picBox .picImg .floatl {
      width: 47.5%;
      margin-right: 5%; }
      .picBox .picImg .floatl a {
        display: block;
        width: 100%; }
      .picBox .picImg .floatl img {
        width: 100%; }
    .picBox .picImg .floatl:nth-last-child(2) {
      margin-right: 0%; }
  .picBox img {
    width: 100%; }

.knowMore {
  width: 79.73%;
  margin: 0 auto; }
  .knowMore a {
    display: block;
    width: 100%; }
    .knowMore a img {
      width: 100%; }

.shareLeft {
  padding: 0.2rem 0;
  width: 0.5rem; }
  .shareLeft img {
    width: 100%; }

#sharing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500; }
  #sharing img {
    width: 100%; }

.lall {
  width: 0.25rem;
  position: absolute;
  left: 24.8%;
  top: 14.5%;
  opacity: 0;
  animation: aniLoad02 1s linear infinite;
  -moz-animation: aniLoad02 1s linear infinite;
  -webkit-animation: aniLoad02 1s linear infinite;
  -ms-animation: aniLoad02 1s linear infinite; }
  .lall > img {
    width: 100%; }
  .lall > div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0%;
    height: 0%;
    overflow: hidden;
    background-color: #c7433a;
    animation: aniLoad03 1s linear infinite;
    -moz-animation: aniLoad03 1s linear infinite;
    -webkit-animation: aniLoad03 1s linear infinite;
    -ms-animation: aniLoad03 1s linear infinite; }

.lall1 {
  width: 0.2rem;
  left: 20.6%;
  top: 14.1%;
  animation-delay: 0.35s;
  -moz-animation-delay: 0.35s;
  -webkit-animation-delay: 0.35s;
  -ms-animation-delay: 0.35s; }
  .lall1 > div {
    animation-delay: 0.35s;
    -moz-animation-delay: 0.35s;
    -webkit-animation-delay: 0.35s;
    -ms-animation-delay: 0.35s; }

.ab {
  position: absolute;
  top: 0;
  left: 0; }

.ablunbo {
  animation: lunbo 2s linear infinite;
  -moz-animation: lunbo 2s linear infinite;
  -webkit-animation: lunbo 2s linear infinite;
  -ms-animation: lunbo 2s linear infinite; }

@keyframes aniLoad04 {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@-moz-keyframes aniLoad04 {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@-webkit-keyframes aniLoad04 {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@-ms-keyframes aniLoad04 {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@keyframes lunbo {
  from {
    left: 100%; }
  to {
    left: -width/2; } }
@-moz-keyframes lunbo {
  from {
    left: 100%; }
  to {
    left: -width/2; } }
@-webkit-keyframes lunbo {
  from {
    left: 100%; }
  to {
    left: -width/2; } }
@-ms-keyframes lunbo {
  from {
    left: 100%; }
  to {
    left: -width/2; } }

/*# sourceMappingURL=index.css.map */
